-- This table can easily be modified to suit most any use-cases.
{% for table in pl_plural_tables %}
CREATE TABLE {{ table.name }}
(
	{% for column_name, column_type in table.rows %}
	{{ column_name }} {{ column_type }}{% if not loop.last %},{% endif %}
    {% endfor %}
);

{% endfor %}
