CREATE OR REPLACE FUNCTION upsert_test_counts(
    {% for row in rows %}
	in_{{ row['column_name'] }} {% if row['colmn_name'] == partition_column %} {{ hll_intermediate }} {% else %} {{ row['column_type'] }}[] {% endif %}{% if not loop.last %},{% endif %}
    {% endfor %}
    ) RETURNS TABLE (updates int)
    LANGUAGE plproxy
    AS $$
    CLUSTER '{{ pg_plural_cluster_name }}';
    SPLIT ALL ;
    RUN ON hashtext(in_{{ partition_column }});
$$;
