{% for table in pg_plural_tables %}
CREATE OR REPLACE FUNCTION proxy_upsert_{{ table.name }}(
    {% for row in table.rows %}
	in_{{ row['column_name'] }} {% if row['column_name'] == partition_column %} {{ hll_intermediate_type }} {% else %} {{ row['column_type'] }} {% endif %}{% if not loop.last %},{% endif %}
    {% endfor %}
    ) RETURNS TABLE (updates int)
    LANGUAGE plproxy
    AS $$
    CLUSTER '{{ pg_plural_cluster_name }}';
	TARGET upsert_{{ table.name }};
    SPLIT ALL;
    RUN ON hashtext(in_{{ table.partition_column }});
$$;
{% endfor %}
